[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
fastapi = "==0.99.1" # https://github.com/pydantic/pydantic/issues/6557
uvicorn = {extras = ["standard"], version = "*"}
mangum = "==0.17"

[dev-packages]

[requires]
python_version = "3.11"
